* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;  
}

html {
    font-size: 16px;
}

body {
    background-color: white;
}

#wrapper {
    background-color: rgb(80, 80, 80);
    margin: 0 5px;
}

p {
    color: white;
}

/*
#mobileApp {
    position: fixed;
    z-index: 999999;
    margin: 0 auto;
    width: 95%;
    left: 2%;
    top: 50px;
    background-color: lime;
    border: 2px solid red;   
}
*/

a,
a:hover,
a:active {
    text-decoration: none;
}

button {
    
}

button a {
    
}

h3 {
    text-align: center;
    font-size: 2.75rem;
    font-weight: 800;
    font-family: 'Oswald';
    text-transform: uppercase;
    color: white;
}

h4 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Oswald';
    text-transform: uppercase;
    color: white;
}

h5 {
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 3.75rem;
    font-weight: 800;
}


.header {
    background: purple url("../Images/header-xs.jpg") no-repeat top;
    min-height: 220px;
    height: 220px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 520px) {
        .header {
            background-image: url("../Images/header-s.jpg");
            background-position: top;
        }
}

/* black shader across the header background (can be called specifically via '.header > img' selector) */
.shader {
    opacity: 0.5;
}

.header-text {
    position: absolute; /* places the text above the shader (image), ignoring the natural flow of elements */
    text-align: center;
    width: 100%; /* necessary for text-align to work */
    top: 20px;
}

    h1 {
        font-family: 'Ranga';
        color: darkred;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        font-size: 4rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    h2 {
        margin-top: 2rem;
        font-family: 'Ranga', cursive;
        color: darkred;
        font-size: 2rem;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; 
    }



/* NAVIGATION BAR ELEMENTS */

#nav {
    top: 0px;
    z-index: 999; /* it must have a declared z-index to behave like a sticky element! */
/*    margin: 0 auto;*/
    height: 60px;
    width: 100%;
    position: sticky; /* sticky pushes the next div down instead of floating above it, like fixed position does */
/*    box-shadow: 0px 3px 9px 1px rgb(100, 100, 100);*/
    background-color: rgb(80, 80, 80);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0px 3px 9px 1px #898989;
} 

#menu-button {
    position: absolute; /* decide between absolute or fixed */
    display: block;
    z-index: 10000;
    right: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background: url("../Images/menu-button_white.png") no-repeat center;
    background-size: contain;
}

#menu-button.displayed {
    position: fixed;
    background: url("../Images/menu-close-x.png") no-repeat center;
    background-size: contain;
}

#play-circle {
    position: absolute;
    display: block;
    z-index: 10000;
    left: 15px;
/*    top: 4px;*/
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 28px;
    border: 3px solid white;
    box-sizing: content-box;
}

#play-pause {
/*    display: block;*/
/*    margin: 0 auto;*/
    left: 14px;
    top: 13px;
    font-size: 25px;
    color: white;
}


#nav #player {
    display: none;
/*    position: absolute;*/
    left: 15px;
/*    height: 40px;*/
/*    padding: 5px auto;*/
/*    background-color: hotpink;*/
}

        #playlive {
            display: inline-block;
            position: relative;
            top: 1px;
            border: 3px solid darkred;
            border-radius: 10px;
            color: darkred;
            margin-right: 15px;
        }

        #nav #playlive p {
            display: block;
            position: relative;
            cursor: default;
            font-size: 1rem;
            font-weight: 800;
            margin: 5px 1rem;
            color: black;
/*            background-color: yellow;*/
        }
/*

    #nav #play-pause {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        font-size: 30px;
        color: darkslategray;
    }

    #nav #play-pause:hover {
        color: darkred;
        cursor: pointer;
    }

*/

#nav-container {
    
}



/* THE FOLLOWING CODE IS TO STYLE THE >> MOBILE VIEW << OF THE MENU (display: block, position: fixed) THE SUBMENU */

#desktop-menu {
    display: none;
}


#mobile-menu {
    display: none; /* hide menu by default on mobile. Flex? */
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    background-color: rgba(255,255,255,.95);
/*    background-color: white;*/
}

#mobile-menu #mobile-menu-items {
    margin: 0 auto;
    width: 60%;
}

    #mobile-menu-items .menu-item {
        display: block;
        position: relative;
        list-style: none;
/*        height: 40px; this defines the hight of ALL <li>s so it doesn't give enough room to revealed submenu items. don't define height, so they can push the content down when displayed */
        top: 6rem;
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid darkred;
        z-index: 100;
/*        border: 2px solid yellow;*/
/*        background-color: magenta;*/
    }

    #mobile-menu-items .menu-item:last-child {
        border-bottom: 1px solid darkred;
    }

    #mobile-menu-items .menu-item a.displayed {
        border-bottom: 1px solid darkred;
    }


        #mobile-menu-items .menu-item a {
            display: block; /* check if inline-block makes the submenu turn on its side -- for landscape view */
            position: relative;
            text-align: center;
            text-decoration: none;
            padding: 0.4375rem 1rem; /* 7px 16px */
/*            pointer-events: none;  disables the link from activating */
            text-transform: uppercase;
            font-family: 'Raleway', Helvetica;
            color: darkred;
        }

        #mobile-menu-items .menu-item a:first-letter {
            font-size: 1.1em;
        }


        #mobile-menu-items > .menu-item > a {
            position: relative;
            font-size: 1.5rem;
            width: 100%;
            font-weight: 600;
            font-size: 1rem;
        }

        #mobile-menu-items .submenu {
            position: relative; /* when set to relative, it pushes down the next menu item instead of hovering above it as with absolute positioning */
/*            z-index: 1;*/
            display: none;  /* js probably overrides this ??? */
            list-style: none;
            width: 80%;
            margin: 0.4375rem auto;
/*            background-color: rgba(255,255,255,0.95);*/
        }

            #mobile-menu-items .submenu-item {
                
                z-index: 9;
                position: relative;
/*                height: 40px;*/
            }



        /* HIGHLIGHTED ITEMS */

       #mobile-menu-items .highlighted > a {
            background-color: darkred;
            color: white;
        }


        #mobile-menu-items .highlighted a {
        }


        #mobile-menu-items .highlighted > a:active {
            background-color: rgba(255,255,255,0.95);
            color: darkred;
        }

        /* END OF HIGHLIGHTED ITEMS */





                /* 720px AND ABOVE */


@media screen and (min-width: 768px) {
    .header {
        min-height: 420px;
        height: 420px;
    }

    #nav {
        height: 60px;
        
    }
    
    .container {
        
    }
    
    #navItemsHolder {
        display: block;
        position: relative;
        margin: 0 auto;
        border: 2px solid magenta;
    }
        
    #menu-button {
        display: none;
    }
    
    #mobile-menu {
        display: none;
    }

    #nav #player {
        display: inline-table;
        float: left;
/*        position: relative;*/
/*        width: 8rem;*/
    }

        #playlive {
            display: inline-block;
            box-sizing: content-box;
/*            width: 5rem;*/
/*            position: relative;*/
        }

        #play-pause {
            display: inline-block;
            position: relative;
            width: 1rem;
        }
    
    #desktop-menu {
        display: block; /* block needed so "margin: 0 auto" can work */
        width: 29rem;
        margin: 0 auto;
/*        height: 40px;*/
        
        
    }

    #desktop-menu-items {
        position: absolute;
        display: block; /* OLDER BROWSERS  *** check out if block and inline-block are interchangable here */ 
        display: inline-flex; /*  NEWER BROWSERS */
        height: 100%;
        background-color: rgb(80, 80, 80);
    }

        #desktop-menu-items .menu-item {
            position: relative;
            display: inline-block;
            top: 0;
            width: 6rem;
            border-left: 1px solid rgba(255,255,255,.2);
            margin: 0 -0.125rem;
            padding: 0.0625rem 0;
        }
           
        #desktop-menu-items .menu-item:last-child {
            border-right: 1px solid rgba(255,255,255,.2);
        }


        #desktop-menu-items .menu-item > a {
            display: block;
/*            margin: 0 auto;*/
            height: 100%;
            padding: 0.4375rem 1rem; /* 7px 16px */
            text-decoration: none;
/*            pointer-events: none;  disables the link from activating */
            text-align: center;
            font-weight: 800;
            font-size: 1rem;
            text-transform: uppercase;
            font-family: 'Oswald';
            color: antiquewhite;
        }

        #desktop-menu-items .menu-item a > span {
            display: block;
            margin-top: 0.5rem;
        }
        
        #desktop-menu-items .menu-item > a::first-letter {
                        font-size: 1.125rem;
                    }

        #desktop-menu-items .menu-item a:hover {
            background-color: white;
            color: darkgray;
            box-shadow: 0px 0px 1px 1px #898989;
        }


            #desktop-menu-items .submenu {
                display: none; /* displays when its parent menu items is hovered */
                position: absolute;
                left: 0px; /* sets the position of the <ul> directly beneath the menu item */
                text-align: left;
                background: white;
                box-shadow: 0px 3px 9px 1px #898989;
                background-color: white;
                z-index: -1;
/*                width: 100%;*/
            }

                
                #desktop-menu-items .submenu-item {
                  /*  visibility: hidden; /**/
                    display: inline-block; /**/
                    position: relative;
                    height: 40px;
                    margin: 0 auto;
                    width: 100%;
                    white-space: nowrap;
                    border: none;
                    z-index: 2; /* sets every "ordinary" subemnu item above the highlighted one, so it can cast its shadow over it */
                }


                #desktop-menu-items .submenu-item a {
                    display: block; /* if ignored, it will ignore the margin and padding, but not font and text properties, as they do apply to inline ("a" is an inline element by default) elements. */
                    height: 100%;
                    padding: 7px 15px;
                    font-weight: 800;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-family: 'Oswald';
                    color: darkgray;
                }


    


                #desktop-menu-items .submenu-item a::first-letter {
                        font-size: 1.125rem;
                    }

                #desktop-menu-items .submenu-item a:hover {
                            color: darkred;
                            box-shadow: none;
                        }


                /* THE FOLLOWING CODE IS TO SHOW SUBMENU ON HOVER WITH CSS ONLY */

                    #desktop-menu-items .menu-item:hover .submenu {
                            display: block;
                        }

                        /* NOW TO DISABLE THIS ON MOBILE VIEW OF THE MENU */

                        #mobile-menu-items .menu-item:hover .submenu {
                                display: none;
                            }

    
                        /* HIGHLIGHTED ITEMS */
                            
                           #menu-items .highlighted {
                                background-color: darkgray;
                                color: white;
                                z-index: 1;  /* set it below the z-index of "ordinary" submeny item */
                            }

/*
                            #menu-items .highlighted a {
                                color: white;
                            }
*/

                            #desktop-menu-items .highlighted > a:hover {
                                background-color: white;
                                color: darkgray;
                                box-shadow: 0px 0px 1px 1px #898989;
                            }

                        /* HIGHLIGHTED ITEMS */

    
        
    .banner {
        height: 80px;
        margin: 400px auto;
    }

        .banner h5 {
            float: left;
            margin: 0.3125rem 0;
        }


        .chapter-logo-holder {
            float: right;
            height: 150px !important;
            width: 150px !important;
            margin: -35px 0 !important;
        }



    
    
}   
/* end of media query @ >=768px width */



#donation-button {
    display: block;
    width: 7rem;
    background-color: darkgray;
    color: white;
}

#donation-button a:hover {
    background-color: white;
    color: darkgray;
    box-shadow: 0px 0px 1px 1px #898989;
}


/* ********** CONTENT ELEMENTS ******** */

.content-holder {
    margin: 0 auto;
    position: relative;
}

#welcome {
    
}


#welcome h3 {
    margin-top: 30px;
}

#welcome h4 {
    margin: 10px auto 20px auto;
}

#welcome p {
    text-align: justify;
}

.live-sms {
    margin: 15px auto;
    text-align: center !important;
    font-size: 2.25rem;
    font-weight: 800;
    font-family: "Oswald";
    color: darkred;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}



#donate {
    margin-top: 3.5rem;
/*    background-color: #003287;*/  /* dark blue */
/*    background-color: rgb(0, 128, 0);*/
/*    background-color: rgb(66,192,251);*/
/*    background-color: rgb(36, 188, 16);*/
    background-color: rgb(0, 50, 100);
    color: white;
    border: 1px solid white;
}

#donate p {
    text-align: justify;
    font-size: 1.2em;
}

#donation-methods {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

    #donation-methods h3 {
        padding-top: 40px;
        margin-bottom: 20px;
    }

    #donation-methods .btn-group {
        border: none;
    }

    #donation-methods .btn {
        border: 1px solid white;
        background-color: lightgrey;
        color: rgb(0, 50, 100);
        font-size: 1rem;
        font-weight: 600;
    }

    #donation-methods .btn:hover {
        background-color: rgb(0, 50, 100);
        color: white;
        border: 1px solid white;
    }

    #bank-popup {
        position: absolute;
        display: none;
        width: 100%;
        z-index: 10;
        bottom: 0;
        padding: 15px;
        border: 2px solid darkred;
        border-radius: 10px;
        background-color: white;
    }

    #bank-popup p {
        color: darkred;
        text-align: left;
    }

    #bank-popup span {
        display: inline-block; 
        white-space: nowrap;
        margin-bottom: 20px; 
        font-weight: bold; 
    }

.banner {
    margin: 40px auto;
}

.chapter-logo-holder {
    display: block;
    width: 80px;
    height: 80px;
    margin: 10px auto;
}

    .chapter-logo-holder img {
        height: 100%;
        width: 100%;  
    }

#about-us {
    background-color: darkred;
    margin-top: 3.2em;
}

    #about-us h5 {
        
        text-align: center;
        color: white;
    }

#listen {
    background-color: rgb(66,192,251);
    margin-top: 3.2em;
}

    #listen h5 {
        text-align: center;
        color: white;
    }


.media {
/*    margin-bottom: 100px;*/
    
}

.media h3 {
/*    margin-top: 80px;*/
    margin-bottom: 40px;
    color: rgb(66,192,251);
}

/* nema h6 */
.media h6 {
    
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Oswald';
    text-transform: uppercase;
/*    vertical-align: middle;*/
}

.listen-live,
.listen-recorded {
/*    padding: 0 50px;*/
}

.media-type {
    margin-top: 20px;
    margin-left: 20px;
}

.media-type:last-child {
    margin-bottom: 80px;
}

.media h3 + .media-type {
    margin-top: 30px;
}

.media-type a {
    display: table;
}

.media-type > p {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
}


.media-type a img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.media-type > a span {
    vertical-align: middle;
    margin-left: 5px;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Oswald';
    text-transform: uppercase;
}

    .media .collapse p {
        display: inline;
        margin-left: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: "Lato", sans-serif;
    }


#playlists * {
    color: rgb(206, 9, 9);
}

#playlists  a {
    
}

    #playlists a img {
        
    }

    #playlists a span {
/*        color: rgb(206, 9, 9);*/
    }

    .playlist {
        
    }

    .playlist p {
/*        color: rgb(206, 9, 9);*/
    }

#tune-in * {
    color: rgb(38, 188, 176);
}

#tune-in a {
    
}

    #tune-in a img {
        
    }

    #tune-in a spa* n {
    }

#podcasts * {
    color: rgb(147, 82, 181);
}

#podcasts a {
    
}

    #podcasts a img {
        
}

    #podcasts a span {

    }

.podcast {
    
}

.podcast p {
    
}

#soundcloud * {
    color: rgb(216, 88, 7);
}

#soundcloud a {
    
}

    #soundcloud a img {
        
    }

    #soundcloud a span {
    }

/* *** SHOP ELEMENTS *** */

#shop {
    background-color: rgb(0, 128 ,0);
    margin-bottom: 0; /** overrides banner bottom */
}

    #shop h5 {
        text-align: center;
        color: white;
    }



#myCarousel {
    margin-top: 40px;
/*    width: 600px;*/
    background-color: white;
}


    #myCarousel .item {
        
    }

    #myCarousel .item > h3 {
        color: black;
    }

    #myCarousel .item > p {
        color: black;
        text-align: center;
    }

    #myCarousel .item img {
/*        position: absolute;*/
        margin: 0 auto;
/*        height: 75%;*/
        height: 420px;
        padding-bottom: 90px;
    }
 
    .carousel-caption {
/*        height: 25%;*/
/*        height: 60px;*/
      position: absolute;
      bottom: 25px;
}

    .carousel-indicators {
        
    }

    .carousel-indicators li {
        background-color: black;
        border: 1px solid white;
    }

    .carousel-indicators .active {
        background-color: black;
        border: 1px solid white;
    }


/* *** FOOTER ELEMENTS *** */


.footer {
    display: block;
    position: relative;
    bottom: 0;
    height: 420px; /* izbriši kad ubaciš sadržaj */
    border: 1px black solid;
    background-color: rgb(19, 19, 19);
    font-family: Oswald, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

    .footer p {
    display: block;
    position: absolute;
    text-align: right;   
    bottom: 0px;
    height: 20px;
    padding-right: 45px;
}


@media screen and (min-width: 768px) {
    
    
}

@media screen and (min-width: 2220px) {
    
    
}



